/* Header */

.header{
  font-family: Verdana;
  font-size: 14px
  font-weight: bold;
  display: flex;
  border-bottom: solid black .5px;
  align-content: flex-end;
  justify-content: space-between;
}

.logo{
  color: MediumAquamarine;
  display: inline-flex;
  margin-left: 25px;
  margin-bottom: 10px;

}


.nav h4{
display: inline-block;
align-content: flex-end;
margin-right: 25px;
}

/* Main Content */
.logo{
  border: solid black .5px;
}

.column{
  display: inline-flex;
  flex-direction: row;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  border: solid black .5px;
  align-items: stretch;

}
.column.large{
  display: inline-flex;
}

.column.medium{
  display: inline-flex;
  margin-left: 25px;
}

.column.small{
  display: inline-flex;
  margin-left: 25px;
}

.small{
  margin-left: 25px;
  border: solid black .5px;
  width: 240px;
}

.medium{
  margin-left: 25px;
  border: solid black .5px;
  align-items: stretch;
  width: 300px;
}

.large{
  width: 630px;
}

.main{
  display: inline-flex;
  border: solid black .5px;
}

.phish{
  border: solid black .5px;
  display: flex;
  background-image: url("images/img-story-main.png");
}

.phish p{
  display: flex;
  font-family: Georgia;
 font-weight: bold;
 font-size: 40px;
 color: white;
}

.valley{
  border: solid black .5px;
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.orca{
  border: solid black .5px;
}

.orca p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.earth{
  display: flex;
  background-image: url("images/img-story-2.png");
  border: solid black .5px;

}

.earth p{
  font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;

}

.burger{
  border: solid black .5px;
}

.burger p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.memory{
  border: solid black .5px;
  background-image: url("images/img-story-3.png");
  font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
display: flex;
}

.FBI{
  border: solid black .5px;
}

.FBI p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.brooklyn{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.cats{
  border: solid black .5px;
  background-image: url("images/img-story-1.png");
  font-family: Georgia;
 font-weight: bold;
 font-size: 30px;
 color: white;
}


.cookie{
  border: solid black .5px;
}
.bites{
  border: solid black .5px;
}

.bites p{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.box{
  border: solid black .5px;
}
