/* Header */

.header{
  font-family: Verdana;
  font-size: 14px
  font-weight: bold;
  display: flex;
  border-bottom: solid black .5px;
  align-content: flex-end;
  justify-content: space-between;
}

.logo{
  color: MediumAquamarine;
  display: inline-flex;
  margin-left: 25px;
  margin-bottom: 10px;

}


.nav h4{
display: inline-block;
align-content: flex-end;
margin-right: 25px;
}

/* Main Content */
.logo{
  border: solid black .5px;
}

.column{
  display: inline-flex;
  flex-direction: row;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 25px;
  border: solid black .5px;
  align-items: stretch;

}
.column.large{
  display: inline-flex;
}

.column.medium{
  display: inline-flex;
  margin-left: 25px;
}

.column.small{
  display: inline-flex;
  margin-left: 25px;
}

.small{
  margin-left: 25px;
  border: solid black .5px;
  width: 240px;
}

.medium{
  margin-left: 25px;
  border: solid black .5px;
  align-items: stretch;
  width: 300px;
}

.large{
  width: 630px;
}

.main{
  display: inline-flex;
  border: solid black .5px;
}

.phish{
  border: solid black .5px;

}
.valley{
  border: solid black .5px;
}

.orca{
  border: solid black .5px;
}

.earth{
  border: solid black .5px;

}

.burger{
  border: solid black .5px;
}

.memory{
  border: solid black .5px;
}

.FBI{
  border: solid black .5px;
}

.cats{
  border: solid black .5px;

}

.cookie{
  border: solid black .5px;
}
.bites{
  border: solid black .5px;
}
.box{
  border: solid black .5px;
}
